/* =============================================================================
   Site Styles
   ========================================================================== */
/******************************Headings******************************/
h1{
	font-family: 'Playball', cursive;
	text-align: center;
	background-color: #27191f;
	color: #960b20;
	font-size: 2em;
	box-shadow: 0px 7px 5px #444;
	margin: 10px 2px;
	
}

h2{
	font-family: 'Playball', cursive;
	text-align: center;
	background-color: #960b20;
	color: #ffffcc;
	font-size: 1.75em;
	box-shadow: 0px 7px 5px #444;
	margin: 10px 2px;
}
h3{
	font-family: 'Playball', cursive;
	text-align: center;
	color: #960b20;
	font-size: 1em;
	margin: 10px 2px;
}

p{
	font-family: 'Roboto Slab', serif;
	margin: 5px;
	color: #27191f;
}
/******************************Nav******************************/
nav li{
	display: inline;
	text-align: center;
	width: 16%;
	float: left;
	border-left: 1px solid white;
	font-family: 'Mouse Memoirs', sans-serif;
	font-size: 1.5em;
	line-height: 30px;
}
nav{
	background-color: #27191f;
/*	width: 100%;*/
/*	margin: 63px auto 5px auto;*/
	box-shadow: 2px -2px 5px #444;
}
.nav{
	margin: 63px 0 5px 0;
}

nav ul{
	padding-left: 0;
	height: 30px;
	margin: 0;
}
.first_nav{
	border-left: none;
}
nav a:link{
	color: #960b20;
	text-decoration: none;
}
nav a:visited{
	color: #960b20;
	text-decoration: none;
}
nav a:hover{
	color: #960b20;
	text-decoration: none;
}
nav a:active{
	color: white;
	text-decoration: none;
}
.active a:link{
	color: #ffffcc;
	text-decoration: none;
}
.active a:visited{
	color: #ffffcc;
	text-decoration: none;
}
.active a:hover{
	color: #ffffcc;
	text-decoration: none;
}
.active a:active{
	color: #ffffcc;
	text-decoration: none;
}
/******************************form******************************/
.checkbox{
	margin-top: 5px;
}
.checkbox input{
	float: left;
}
.checkbox p{
	float: left;
}

#logo{
	height: 93px;
}
/* =============================================================================
   Page Styles
   ========================================================================== */

/******************************Home******************************/
.border_lg{
	border-image: url('../images/rainbow_border.png') 1 1 1 1 repeat stretch;
	-moz-border-image: url('../images/rainbow_border.png') 1 1 1 1 stretch stretch;
	-webkit-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	-o-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	border-image: url('../images/rainbow_border.png') 1 1 1 1  *fill* stretch stretch;
	border-style: solid;
	border-width: 1.5px;
	height: 307px;
}
.border_md{
	border-image: url('../images/rainbow_border.png') 1 1 1 1 repeat stretch;
	-moz-border-image: url('../images/rainbow_border.png') 1 1 1 1 stretch stretch;
	-webkit-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	-o-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	border-image: url('../images/rainbow_border.png') 1 1 1 1  *fill* stretch stretch;
	border-style: solid;
	border-width: 1.5px;
	height: 200px;
	margin-bottom: 5px;
}
.border_sm{
	border-image: url('../images/rainbow_border.png') 1 1 1 1 repeat stretch;
	-moz-border-image: url('../images/rainbow_border.png') 1 1 1 1 stretch stretch;
	-webkit-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	-o-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	border-image: url('../images/rainbow_border.png') 1 1 1 1  *fill* stretch stretch;
	border-style: solid;
	border-width: 1.5px;
	height: 100px;
	margin-bottom: 5px;
}
.slider_img{
	border-image: url('../images/rainbow_border.png') 1 1 1 1 repeat stretch;
	-moz-border-image: url('../images/rainbow_border.png') 1 1 1 1 stretch stretch;
	-webkit-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	-o-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	border-image: url('../images/rainbow_border.png') 1 1 1 1  *fill* stretch stretch;
	border-style: solid;
	border-width: 2px;
	margin-bottom: 10px;
	box-shadow: 10px 7px 5px #444;
}
.sponsors img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-height: 100px;
	max-width: 300px;
}
#button{
	width: 150px;
	display: block;
	float: right;
	margin-right: 25px;
	margin-top: 20px;
	background-color: red;
	text-align: center;
	text-decoration: none;
	color: white;
	border-radius: 5px;
	font-size: 1.25em;
}

.a .b .c{
	float: left;
}
.d{
	float: right;
}

.b{
	margin-top: -100px;
}
/******************************Season******************************/

.season{
	border-image: url('../images/rainbow_border.png') 1 1 1 1 repeat stretch;
	-moz-border-image: url('../images/rainbow_border.png') 1 1 1 1 stretch stretch;
	-webkit-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	-o-border-image: url('../images/rainbow_border.png') 1 1 1 1  stretch stretch;
	border-image: url('../images/rainbow_border.png') 1 1 1 1  *fill* stretch stretch;
	border-style: solid;
	border-width: 1.5px;
	margin-bottom: 5px;
}
/******************************About******************************/
#leadership img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#leadership h1{
	margin-bottom: 15px;
}

#leadership p{
	text-align: center;
}
#leadership a{
	text-decoration: none;
	text-align: center;
	display: block;
}
#leadership div{
	margin-bottom: 15px;
}
/******************************Join******************************/
#join p{
	text-align: justify;
	margin-top: 8px;
}
#joining img{
	border-radius: 25px;
	margin-left: 15px;
	margin-top: 8px;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}
nav{
	margin-top: 43px;
}
/* All Mobile Sizes */
@media only screen and (max-width: 767px) {}
nav li{
	font-size: 1.4em;
}
#joining img{
	margin-left: 0;
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {}
.nav{
	margin-top: 0;
}

.border_md{
	height: auto;
	margin-bottom: 5px;
	border: 0;
}
.border_lg{
	height: auto;
	margin-bottom: 5px;
	border: 0;
}
.border_sm{
	height: auto;
	margin-bottom: 5px;
	border: 0;
}
.b{
	margin-top: 5px;
}
.season{
	border: 0;
}
/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {}

nav li{
	width: 44%;
	margin: 0 3%;
}